.header__projecttitle{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
    margin:0;
    color:#000505
}

.header__projectsubtitle{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    font-size: 7vw;
    line-height: 100%;;
    text-align: center;
    background: linear-gradient(92.94deg, #FF008A 5.12%, #5F00BA 85.82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header__container{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    min-height: max-content;
    margin:  2.5rem 0;
    max-width: 100%;
    justify-content: center;
    grid-column-start: 3;
    grid-column-end: 11;
}
    
.project__heading{
    color: #FF3C11;
    font-size: 1rem;
    font-weight: bold;
    grid-column-start: 2;
    grid-column-end: 4; 
    margin-bottom: -0.5em;
}

.project__descriptor{
    background: linear-gradient(92.94deg, #FF008A 5.12%, #5F00BA 85.82%);
    -webkit-background-clip: text;
    grid-column-start: 2;
    grid-column-end: 9;
    font-weight: 700;
    line-height: 100%;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 2.4rem;
}
.project__p_left{
    grid-column-start: 2;
    grid-column-end: 8;
    width: 100%;
}
.project__p_right{
    grid-column-start: 7;
    grid-column-end: 12; 
    width: 100%;
}