
:root {
  --light-bg-color: #fff;
  --dark-bg-color: #180020;
  --light-text-color: #000;
  --dark-text-color: #fff;

  --shadow-color: 0deg 0% 68%;
  --shadow-elevation-low:
    1px 1px 1.6px hsl(var(--shadow-color) / 0.28),
    1.6px 1.6px 2.5px -1.2px hsl(var(--shadow-color) / 0.28),
    3.7px 3.7px 5.9px -2.5px hsl(var(--shadow-color) / 0.28);
  --shadow-elevation-medium:
    1px 1px 1.6px hsl(var(--shadow-color) / 0.3),
    3.1px 3.1px 4.9px -0.8px hsl(var(--shadow-color) / 0.3),
    7.6px 7.6px 12.1px -1.7px hsl(var(--shadow-color) / 0.3),
    18.3px 18.3px 29.1px -2.5px hsl(var(--shadow-color) / 0.3);
  --shadow-elevation-high:
    1px 1px 1.6px hsl(var(--shadow-color) / 0.28),
    5px 5px 8px -0.4px hsl(var(--shadow-color) / 0.28),
    9.2px 9.2px 14.6px -0.7px hsl(var(--shadow-color) / 0.28),
    15px 15px 23.9px -1.1px hsl(var(--shadow-color) / 0.28),
    23.8px 23.8px 37.9px -1.4px hsl(var(--shadow-color) / 0.28),
    37.2px 37.2px 59.2px -1.8px hsl(var(--shadow-color) / 0.28),
    56.4px 56.4px 89.7px -2.1px hsl(var(--shadow-color) / 0.28),
    83px 83px 132.1px -2.5px hsl(var(--shadow-color) / 0.28);

}

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  max-width: 75ch;
 
}

* {
  box-sizing: border-box;
}
