.mainContainer{
    display: flex;
    margin-bottom:2em;
    flex-direction: column;
    text-align: left;
    align-items:center;
    justify-content: center;

}
.hello__container{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    min-height: 100vh;
    justify-content: center;
}
    

.hello__buttons{
    display: flex;
    flex-direction: row;
    align-items:center;
    padding: 1em 0em;
    justify-content: center;
    gap:2em;
    font-size: .4rem;

    @media only screen and (min-width: 768px) {
        font-size: 1rem;
    }
}
.hello__jobtitle{
    font-family: 'Poppins';
    font-style: normal;
    margin: 0;
    margin-bottom: -0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 2.2rem;
    align-self: flex-start;
    color: #000000;

    @media only screen and (min-width: 768px) {
        font-size: 1.5rem;
        padding-left: 0em;
        padding-right: 0em;
    }

    }
    .hello__name{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        padding-left: .5em;
        padding-right: .5em;
        background: linear-gradient(90.65deg, #FF008A 4.21%, #FF3C11 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        align-self: flex-start;

        @media only screen and (min-width: 768px) {
            font-size: 2.8rem;
         
            padding-left: 0em;
            padding-right: 0em;
        }
    
        }

  



.hello__about{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 150.9%;
    padding: 1em;

    @media only screen and (min-width: 768px) {
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 150.9%;
        padding: 0.2em;
    }
    }

.hello__workContainer{
    position:relative;
    bottom: 0; 
    display: flex;
    flex-direction: column;
    gap: 1em;
    }
    
.hello__work{
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    font-size: 2.3rem;
    line-height: 3rem;
    background: linear-gradient(90.57deg, #F96615 30.18%, #F0548C 94.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.imageContainer{
    max-width: 1920px;
    margin-bottom:2em;
    padding: 2em;
}


